.btn1{
width: 100px;
height: 30px;
background-color: #f77181;
color: white;

}
.btn2{
width: 100px;
height: 30px;
background-color: #f77181;
color: white;

}
.btn3{
width: 100px;
height: 30px;
background-color: #13B635;
color: white;
}
span{
margin-right: 350px;
font-size: 18px;
}

div{
height: 150px;
width: 100%;
background-color: #a2f2e3;
}

#output{
font-size: 40px;
font-style: italic;
font-style: bold;
color: red;
}