.container{
  width: 2100px;
  height: 750px;
  background-color: #d8d8d8;

}
 .row{
  text-align: center;
  margin-top: 50px;
  width: 100%;
  color: #a52b3b;
  font-size: 11px;
 }
 .box{
  width: 240px;
  margin-right: 42px;
  height: 45px;
  border-bottom:  solid #823c3a;
  border-right:  solid #823c3a;
  border-left:  solid #823c3a;
  border-top: 2px solid #823c3a;
 }
 
 .small{
  width: 100px;
  height: 45px;
  margin-right: 30px;
  border-bottom:  solid #a52b3b;
  border-right:  solid #a52b3b;
  border-left:  solid #a52b3b;
  border-top: 2px solid #a52b3b;
 }
 
 